.stream{
	position: relative;
	width: 100%;
	display: block;

	.video-wrap {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
