// Transition
@mixin transition($what,$duration){
	-webkit-transition: $what $duration ease-in-out;
	-moz-transition: 	$what $duration ease-in-out;
	-ms-transition: 	$what $duration ease-in-out;
	transition: 		$what $duration ease-in-out;
}

// Rotate
@mixin rotate($deg) {
	-webkit-transform: 	rotate($deg);
	-moz-transform: 	rotate($deg);
	-ms-transform: 		rotate($deg);
	transform: 			rotate($deg);
}

// Translate
@mixin translate($plx,$ply,$plz){
	-webkit-transform: 	translate3d($plx,$ply,$plz);
	-moz-transform: 	translate3d($plx,$ply,$plz);
	-ms-transform: 		translate3d($plx,$ply,$plz);
	transform: 			translate3d($plx,$ply,$plz);
}

// Scale
@mixin scale($h,$v){
	-webkit-transform: 	scale($h,$v);
	-moz-transform: 	scale($h,$v);
	-ms-transform: 		scale($h,$v);
	transform: 			scale($h,$v);
}

// Opacity transition
@mixin opacity{
	-webkit-transition: opacity 0.5s ease, visibility 0.5s ease;
	-moz-transition: opacity 0.5s ease, visibility 0.5s ease;
	-ms-transition: opacity 0.5s ease, visibility 0.5s ease;
	transition: opacity 0.5s ease, visibility 0.5s ease;
}



// Smartphones layout
@mixin up-to-phone{
	@media (max-width: #{$width-phone}) {
		@content;
	}
}
@mixin phone-up{
	@media (min-width: #{$width-phone}) {
		@content;
	}
}
@mixin phone-only {
	@media (min-width: #{$width-phone}) and (max-width: #{$width-tablet - 1px}) {
		@content;
	}
}

// Medium layout
@mixin up-to-medium {
	@media (max-width: #{$width-medium}) {
		@content;
	}
}
@mixin medium-up {
	@media (min-width: #{$width-medium}) {
		@content;
	}
}
@mixin medium-only {
	@media (min-width: #{$width-medium}) and (max-width: #{$width-tablet - 1px}) {
		@content;
	}
}

// Tablet layout
@mixin up-to-tablet {
	@media (max-width: #{$width-tablet}) {
		@content;
	}
}
@mixin tablet-up {
	@media (min-width: #{$width-tablet}) {
		@content;
	}
}
@mixin tablet-only {
	@media (min-width: #{$width-tablet}) and (max-width: #{$width-desktop - 1px}) {
		@content;
	}
}

// Desktop layout
@mixin up-to-desktop {
	@media (max-width: #{$width-desktop}) {
		@content;
	}
}
@mixin desktop-up {
	@media (min-width: #{$width-desktop}) {
		@content;
	}
}
@mixin desktop-only {
	@media (min-width: #{$width-desktop}) {
		@content;
	}
}

// Widescreen layout
@mixin up-to-wide {
	@media (max-width: #{$width-wide}) {
		@content;
	}
}
@mixin wide-up {
	@media (min-width: #{$width-wide}) {
		@content;
	}
}
@mixin wide-only {
	@media (min-width: #{$width-wide}) {
		@content;
	}
}

// Ultra Wide Sreen layout
@mixin ultra-wide {
	@media (min-width: #{$width-ultra-wide}) {
		@content;
	}
}