// Variables

// Colors
$black: 			#000;
$white: 			#fff;
$red:				#e20125;
$blue:				#00a4ff;

// Fonts
$font-stack: 'FF DIN Web Pro', sans-serif;
$initial-size: 16px;

// Custom Widths for Media Queries
$width-phone: 			480px;
$width-medium:			640px;
$width-tablet: 			768px;
$width-desktop: 		1024px;
$width-wide:	 		1200px;
$width-ultra-wide:		1600px;
