/* === Custom fonts === */
@font-face {
	font-family: 'FF DIN Web Pro';
	src: url('../fonts/2DD018_7_0.eot');
	src: url('../fonts/2DD018_7_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2DD018_7_0.woff') format('woff'),
		 url('../fonts/2DD018_7_0.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'FF DIN Web Pro';
	src: url('../fonts/2DD018_6_0.eot');
	src: url('../fonts/2DD018_6_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2DD018_6_0.woff') format('woff'),
		 url('../fonts/2DD018_6_0.woff2') format('woff2'),
		 url('../fonts/2DD018_6_0.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'FF DIN Web Pro';
	src: url('../fonts/2DD018_5_0.eot');
	src: url('../fonts/2DD018_5_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2DD018_5_0.woff') format('woff'),
		 url('../fonts/2DD018_5_0.woff2') format('woff2'),
		 url('../fonts/2DD018_5_0.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'FF DIN Web Pro';
	src: url('../fonts/2DD018_4_0.eot');
	src: url('../fonts/2DD018_4_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2DD018_4_0.woff') format('woff'),
		 url('../fonts/2DD018_4_0.woff2') format('woff2'),
		 url('../fonts/2DD018_4_0.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'FF DIN Web Pro';
	src: url('../fonts/2DD018_3_0.eot');
	src: url('../fonts/2DD018_3_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2DD018_3_0.woff') format('woff'),
		 url('../fonts/2DD018_3_0.woff2') format('woff2'),
		 url('../fonts/2DD018_3_0.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'FF DIN Web Pro';
	src: url('../fonts/2DD018_2_0.eot');
	src: url('../fonts/2DD018_2_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2DD018_2_0.woff') format('woff'),
		 url('../fonts/2DD018_2_0.woff2') format('woff2'),
		 url('../fonts/2DD018_2_0.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: 'FF DIN Web Pro';
	src: url('../fonts/2DD018_1_0.eot');
	src: url('../fonts/2DD018_1_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2DD018_1_0.woff') format('woff'),
		 url('../fonts/2DD018_1_0.woff2') format('woff2'),
		 url('../fonts/2DD018_1_0.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'FF DIN Web Pro';
	src: url('../fonts/2DD018_0_0.eot');
	src: url('../fonts/2DD018_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2DD018_0_0.woff') format('woff'),
		 url('../fonts/2DD018_0_0.woff2') format('woff2'),
		 url('../fonts/2DD018_0_0.ttf') format('truetype');
	font-style: italic;
	font-weight: 900;
}