h1, h2, h3, h4, h5{
	font-weight: 400;
	font-family: $font-stack;
	line-height: 1.2em;
	margin: 0 0 0.5em;
	color: $blue;

	@include transition(all, 0.2s);
}

h1{
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;

	@include phone-up{
		font-size: 20px;
	}
	@include medium-up{
		font-size: 24px;
	}
	@include tablet-up{
		font-size: 28px;
	}
	@include desktop-up{
		font-size: 32px;
	}
	@include wide-up{
		font-size: 40px;
	}
	@include ultra-wide{
		font-size: 48px;
	}
}
h2{
	font-size: 18px;
}
h3{
	font-size: 16px;
}
h4{
	font-size: 14px;
}
h5{
	font-size: 12px;
}

a, 
a:hover, 
a:focus{
	text-decoration: none;
	color: $blue;
}

strong,
.bold{
	font-weight: 700;
}

small{
	font-size: 0.825em;
}

p{
	line-height: 1.35em;
	margin-bottom: 1rem;
	font-size: $initial-size;
}