.ir{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

// Fix for 5 col grid
.col-5{	width: 20%;}

.transition{
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: 	all 0.25s ease-in-out;
	-ms-transition: 	all 0.25s ease-in-out;
	transition: 		all 0.25s ease-in-out;
}

.full-height{ height: 100%;}
.full-width{ width: 100%;}

.blue-bg{ background-color: $blue;}
.red-bg{ background-color: $red}
.white-bg{ background-color: $white;}

.color-blue{ color: $blue;}
.color-red{ color: $red;}
.color-white{ color: $white;}
.color-grey{ color: darken($white, 30%);}

hr, .hr{
	border: none;
	margin: 1.25rem 0;
	height: 1px;
	display: block;
	background: #e5e5e5;
}

.no-margin{	margin: 0;}
.no-padding{ padding: 0;}
.pb60{ padding-bottom: 60px;}

.mb0{	margin-bottom: 0;}
.mb5{	margin-bottom: 5px;}
.mb10{	margin-bottom: 10px;}
.mb20{	margin-bottom: 20px;}
.mb30{	margin-bottom: 30px;}
.mr0{	margin-right: 0;}
.mr5{	margin-right: 5px;}
.mr10{	margin-right: 10px;}
.mr20{	margin-right: 20px;}
.mr30{	margin-right: 30px;}
.ml0{	margin-left: 0;}
.ml5{	margin-left: 5px;}
.ml10{	margin-left: 10px;}
.ml20{	margin-left: 20px;}
.ml30{	margin-left: 30px;}
.mt0{	margin-top: 0;}
.mt5{	margin-top: 5px;}
.mt10{	margin-top: 10px;}
.mt20{	margin-top: 20px;}
.mt30{	margin-top: 30px;}

.v-align{
	position: relative;
	top: 50%;
	@include translate(0,-50%,0);
}

.inline{display: inline;}
.block{display: block;}
.table{display: table;}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}

.uppercase{text-transform: uppercase;}

.spinner{
	width: 92px;
	height: 92px;
	display: block;
	margin: 30px auto;
	position: relative;
	background: url('../img/spinner.png') no-repeat center center;	
	background-size: 100% auto;
	outline: 1px solid transparent;
	-webkit-animation: 	rotate 1.5s cubic-bezier(.38,.47,.61,.7) infinite;
	-moz-animation: 	rotate 1.5s cubic-bezier(.38,.47,.61,.7) infinite;
	-ms-animation: 		rotate 1.5s cubic-bezier(.38,.47,.61,.7) infinite;
	animation: 			rotate 1.5s cubic-bezier(.38,.47,.61,.7) infinite;
}

.triangles{
	width: 484px;
	height: 228px;
	display: block;
	background: url('../img/triangles-bg.png') no-repeat right top;

	&.white{
		width: 580px;
		height: 320px;
		background-image: url('../img/triangles-bg-white.png');
	}
}

ul.pagination{
	
	li{
		margin: 0;
		font-family: $font-stack;
		
		&.current a,
		&.current button{
			background: none;
			font-weight: 700;
			color: $blue;

			&:hover{
				background: $blue;
				color: $white;
			}
		}

		a{
			color: $black;
			font-size: $initial-size;

			@include desktop-up{
				font-size: 20px;
				padding: 0.0625rem 0.75rem 0.05rem;
			}
		}
	}	
}